*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height: 100vh;
  min-width: 450px;
  display: flex;
  flex-direction: row;
}

.colForm{
  width: 35%;
  background-color: white;
  padding: 50px;  
  color: #0000A0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  position: fixed;
  
}

.colList{
  width: 65%;
  background-color: #374A66;
  min-height: 100vh;
  padding: 50PX;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin-left: 35%;
  
}

/*-------------------FORMULARIO------------------------------*/


h1{
  padding: 0;
  margin: 0;
}

.imago{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imago{
  width: 250px;
}

Form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.InputGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.Form input, button, .Form select{
  border-radius: 8px;
  border: none;
  background-color: aliceblue;
  height: 45px;
  padding: 10px;
  width: 100%;
}

#status, #date{
  cursor: pointer;
}

.Form button {
  color: white;
  background-color: #0000A0;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.Form button:hover {
  background-color: #01AAFC;
}

/*------------------FILTER SEARCH------------------------------*/

.Searcher{
  width: 100%;
  height: 35px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Searcher input, .Searcher select {
  border-radius: 8px;
  border: none;
  padding: 5px;
}

.Hider {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


#filterName{
  width: 50%;
}



/*------------------TO DO LIST------------------------------*/

.Tasks{
  max-width: 1000px;
  width: 100%;
}

.Task {
  background-color: white;
  min-height: 150px;
  height: auto;
  border-radius: 15px;
  border: 2px solid black;
  padding: 25px;
  margin: 25px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.taskGreen{
  background-color: rgb(199, 255, 224);
}
.taskRed{
  background-color: #c3ebff;
}
.taskYellow{
  background-color: rgb(255, 231, 251);
}

.taskNotVisible{
  display: none;
}


.checkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.checkContainer h3{
  margin-left: 25px;
}

.checkContainer input[type="checkbox"]{
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 0.15em;
  cursor: pointer;
  position: absolute;  
}

.taskChecked{
  text-decoration: line-through;
  color: #0000A0;
}


.TaskInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.TaskInfo span{
  font-weight: bold;
}


.TaskButtons{
  display: flex;
  align-items: center;
  gap: 8px;
}

.TaskButtons button{
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  cursor: pointer;
  border: none;
  color: #0000A0
}

.TaskButtons button:nth-child(1):hover {
  color: red;
}
.TaskButtons button:nth-child(2):hover {
  color: #01AAFC;
}

.containerButtons {
  display: flex;
  gap: 10px;
  width: 100%;
}

#cancelButton {
  background-color: #374A66;
}

#cancelButton:hover {
  background-color: black;
}


/*----------------RESPONSIVE---------------*/

@media (max-width: 950px) {
  .App {
    flex-direction: column;
  }
  .colForm{
    width: 100%;
    position: relative;
  }
  .colList{
    width: 100%;
    margin: 0;
  }
  .TaskInfo{
    padding-right: 25px;
  }
  h1{
    text-align: center;
  }

  .imago{
    display: none;
  }
}

@media (max-width: 800px) {
  
  .TaskButtons {
    flex-direction: column;
    justify-content: center;
  }

  
}